:root {
  --primary-col: #a8dbcc;
  --stacks-bg-col: #82bcbd;
  --general-bg-col: #1a232b;
  --nav-bg-col: #0b0b0b;
  --alt-bg-col: #1a1a1a;
  --gray-col: #617076;
  --borders-col: #70af87;
  --text-col: #fff;
  --nav-margin-offset: -webkit-calc(2rem + 55px);
  --nav-margin-offset: -moz-calc(2rem + 55px);
  --nav-margin-offset: calc(2rem + 55px);
  --font-general: "Montserrat", sans-serif;
  --font-titles: "Raleway", sans-serif;
  --font-paragraphs: "Open Sans", sans-serif;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-general);
  scroll-behavior: smooth;
  scroll-padding-top: 87px;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: var(--text-col);
}
p {
  font-family: var(--font-paragraphs);
  font-weight: 400;
}
h2 {
  font-weight: 700;
}
.nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100%;
  max-height: 87px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 5000;
  -webkit-transition: max-height 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}
.nav__responsive-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--nav-bg-col);
  z-index: 5000;
}
.nav__img-container {
  max-width: 80px;
  height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__img-container img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.logo.--hide {
  display: none;
}
.nav-btn {
  color: var(--text-col);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-btn__burger {
  width: 1.5rem;
  height: 3px;
  background: var(--text-col);
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-btn__burger::after,
.nav-btn__burger::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 3px;
  background: var(--text-col);
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-btn__burger::before {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.nav-btn__burger::after {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
.nav-btn.clicked .nav-btn__burger {
  background: 0 0;
}
.nav-btn.clicked .nav-btn__burger::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-btn.clicked .nav-btn__burger::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav__links-container {
  position: absolute;
  left: 0;
  top: -webkit-calc(2rem + 55px);
  top: -moz-calc(2rem + 55px);
  top: calc(2rem + 55px);
  width: 100%;
  background-color: #0b0b0bcc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.85s ease-in-out;
  transition: -webkit-transform 0.85s ease-in-out;
  -o-transition: -o-transform 0.85s ease-in-out;
  -moz-transition: transform 0.85s ease-in-out, -moz-transform 0.85s ease-in-out;
  transition: transform 0.85s ease-in-out;
  transition: transform 0.85s ease-in-out, -webkit-transform 0.85s ease-in-out,
    -moz-transform 0.85s ease-in-out, -o-transform 0.85s ease-in-out;
  z-index: 100;
}
.nav__links-container ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.nav__links-container ul li a {
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#contact-btn {
  background-color: var(--borders-col);
  color: var(--general-bg-col);
}
.collapsed {
  -webkit-transform: translateY(-350px);
  -moz-transform: translateY(-350px);
  -ms-transform: translateY(-350px);
  -o-transform: translateY(-350px);
  transform: translateY(-350px);
}
.header-section {
  padding-top: var(--nav-margin-offset);
  background-color: var(--general-bg-col);
  height: 100vh;
  position: relative;
  background-image: url(../img/perfil.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center var(--nav-margin-offset);
}
.header-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: rgba(168, 219, 204, 0.56);
  -webkit-clip-path: polygon(-100% 100%, 100% 0%, 100% 100%);
  clip-path: polygon(-100% 100%, 100% 0%, 100% 100%);
}
.header__titles {
  position: absolute;
  bottom: 0;
  font-size: 4vw;
  padding: 1.5rem;
  padding-left: 2em;
  font-family: var(--font-titles);
}
.header__titles h3,
h1 {
  font-weight: 700;
}
.header__titles h4 {
  text-align: center;
  font-weight: 800;
}
.header__icons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5em;
  padding: 1rem 5vw;
}
.header__icons a img {
  background-color: var(--general-bg-col);
  padding: 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.info-section {
  background: -webkit-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(97, 112, 118, 0) 0,
      rgba(29, 29, 29, 0.16) 100%
    ),
    #1d1d1d;
  background: -moz-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(97, 112, 118, 0) 0,
      rgba(29, 29, 29, 0.16) 100%
    ),
    #1d1d1d;
  background: -o-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(97, 112, 118, 0) 0,
      rgba(29, 29, 29, 0.16) 100%
    ),
    #1d1d1d;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(97, 112, 118, 0) 0,
      rgba(29, 29, 29, 0.16) 100%
    ),
    #1d1d1d;
}
.info-container {
  position: relative;
  margin: auto;
  padding: 4rem 2rem;
  color: var(--text-col);
  max-width: 1300px;
}
.info-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/Logo\ ITB.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: 5;
}
.info__text-container {
  position: inherit;
  text-align: justify;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em;
  max-width: 1000px;
  line-height: 1.5;
  z-index: 10;
}
.info__text-container h2 {
  font-weight: 700;
}
.btn-borderless {
  border: 2px solid var(--text-col);
  background-color: transparent;
  padding: 0.5em 1em;
  border-top: 0;
  border-bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  letter-spacing: 2px;
}
.btn-borderless:hover {
  background-color: #b9b9b9;
  --text-col: rgb(185, 185, 185);
  color: #0b0b0b;
}
.personal-section {
  padding: 4rem 2rem;
  background: -webkit-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(92, 92, 92, 0) 0,
      rgba(24, 33, 40, 0.16) 100%
    ),
    #1a232b;
  background: -moz-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(92, 92, 92, 0) 0,
      rgba(24, 33, 40, 0.16) 100%
    ),
    #1a232b;
  background: -o-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(92, 92, 92, 0) 0,
      rgba(24, 33, 40, 0.16) 100%
    ),
    #1a232b;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(92, 92, 92, 0) 0,
      rgba(24, 33, 40, 0.16) 100%
    ),
    #1a232b;
  color: var(--text-col);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 4rem;
}
.about-container {
  text-align: justify;
  line-height: 1.5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 2em;
  margin: auto;
  max-width: 540px;
}
.cv-btn {
  background-color: #49825e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 0.7em 3.5em;
  letter-spacing: 3px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  margin-right: auto;
}
.cv-btn:hover {
  background-color: #54966c;
}
.personal__title {
  text-align: center;
  border: 2px solid var(--borders-col);
  margin: auto;
  padding: 0.5rem 2rem;
  letter-spacing: 0.3em;
  color: var(--text-col);
}
.skills-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 3em;
  margin: auto;
  max-width: 320px;
}
.lang-container,
.tech-container {
  background-color: var(--stacks-bg-col);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 1em;
  padding: 2rem 1rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;
  text-align: center;
  grid-gap: 2em 1em;
}
.lang-element > h4,
.tech__element > h4 {
  padding-top: 0.5em;
  color: var(--general-bg-col);
  font-weight: 400;
  font-size: 1.2rem;
}
.lang-element h4:nth-of-type(2) {
  font-size: 1.1rem;
  padding-top: 0.2em;
}
.portfolio-section {
  padding: 4rem 2rem;
  background-color: var(--alt-bg-col);
}
.portfolio__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3.5em;
}
.projects-container {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}
.projects__card {
  background-color: transparent;
  min-width: 250px;
  min-height: 500px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  -o-transition: -o-transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out, -moz-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out,
    -moz-transform 0.8s ease-in-out, -o-transform 0.8s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.projects__card:hover .card-inner {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card-back,
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.card-back img,
.card-front img {
  max-width: 100%;
}
.card-front .card-back__texts {
  background-color: var(--borders-col);
  padding: 2.5em 0;
  height: 100%;
}
.card-back {
  background-color: var(--borders-col);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 3em;
  gap: 1em;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card-back img {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.card-back__texts {
  text-align: center;
  color: var(--text-col);
}
.card-back__texts h2 {
  font-family: var(--font-titles);
  font-weight: 800;
  padding-bottom: 0.5em;
}
.card-back__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
}
.card-back__buttons a {
  text-decoration: none;
  cursor: pointer;
  padding: 1em 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--general-bg-col);
  font-family: var(--font-paragraphs);
}
.card-back__buttons a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  --general-bg-col: hsl(208, 25%, 20%);
}
.contact-section {
  background: -webkit-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(92, 92, 92, 0) 0,
      rgba(24, 33, 40, 0.16) 100%
    ),
    #1c2c35;
  background: -moz-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(92, 92, 92, 0) 0,
      rgba(24, 33, 40, 0.16) 100%
    ),
    #1c2c35;
  background: -o-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(92, 92, 92, 0) 0,
      rgba(24, 33, 40, 0.16) 100%
    ),
    #1c2c35;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(92, 92, 92, 0) 0,
      rgba(24, 33, 40, 0.16) 100%
    ),
    #1c2c35;
  color: var(--text-col);
}
.contact-wrapper {
  padding: 4rem 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3.5em;
  max-width: 1200px;
}
.contact-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2em;
  text-align: center;
}
.contact__data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2em;
  letter-spacing: 1px;
}
.contact__data-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5em 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  place-items: center;
}
.contact__data-links a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--font-paragraphs);
  letter-spacing: 1px;
}
form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5em;
}
form input,
form textarea {
  background: 0 0;
  color: var(--text-col);
  padding: 0.5em;
  border: none;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
form input:focus,
form textarea:focus {
  outline: 0;
  border-left: 2px solid var(--borders-col);
  border-bottom: 2px solid var(--borders-col);
}
form textarea {
  resize: none;
}
form textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: #8b8b8b;
}
form textarea::-moz-placeholder {
  font-size: 1rem;
  color: #8b8b8b;
}
form textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: #8b8b8b;
}
form textarea::-ms-input-placeholder {
  font-size: 1rem;
  color: #8b8b8b;
}
form textarea:-moz-placeholder {
  font-size: 1rem;
  color: #8b8b8b;
}
form textarea::placeholder {
  font-size: 1rem;
  color: #8b8b8b;
}
.form__btn-container {
  padding-top: 1em;
}
.send-btn {
  background-color: transparent;
  border: 2px solid var(--borders-col);
  border-top: 0;
  border-bottom: 0;
  padding: 0.7em 3.5em;
  color: var(--borders-col);
  letter-spacing: 3px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}
.send-btn:hover {
  background-color: var(--borders-col);
  color: #0b0b0b;
}
footer {
  background-color: var(--alt-bg-col);
  padding: 1em 0;
  text-align: center;
  color: var(--text-col);
}

#body-404 {
  background: #1a232b;
  display: grid;
  place-items: center;
  align-items: end;
}

#error {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  .personal__title {
    letter-spacing: 0.1em;
  }
}
@media screen and (min-width: 576px) {
  .header-section {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: right var(--nav-margin-offset);
  }
  .header__titles {
    font-size: 3.5vw;
    padding-left: 3.5em;
  }
  .info__text-container {
    padding: 0 3em;
  }
  .tech-container {
    max-width: 1000px;
  }
  .lang-container {
    max-width: 500px;
  }
  .skills-container {
    max-width: 400px;
  }
  .projects__card {
    width: 500px;
    height: 600px;
  }
  .card-back {
    gap: 2em;
  }
  .card-back__texts {
    line-height: 1.5;
  }
  .card-back__buttons {
    gap: 1.5em;
  }
}
@media screen and (min-width: 768px) {
  .header-section::before {
    -webkit-clip-path: polygon(-200% 100%, 100% 0%, 100% 100%);
    clip-path: polygon(-200% 100%, 100% 0%, 100% 100%);
  }
  .header__titles {
    font-size: 3vw;
    padding-bottom: 1.5em;
  }
  .lang-container,
  .tech-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .about-container,
  .skills-container {
    max-width: 600px;
  }
  .projects__card {
    width: 600px;
  }
}
@media screen and (min-width: 992px) {
  html {
    scroll-padding-top: 66px;
  }
  .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav--scrolled {
    max-height: 66px;
    background-color: var(--nav-bg-col);
  }
  .nav-bar.nav--scrolled .nav__links-container {
    padding: 1rem;
  }
  .nav__responsive-container {
    background-color: transparent;
  }
  .nav-btn {
    display: none;
  }
  .nav__links-container {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: transparent;
    padding: 1rem;
    margin-left: auto;
    padding-right: -webkit-calc(50% / 4 - 100px);
    padding-right: -moz-calc(50% / 4 - 100px);
    padding-right: calc(50% / 4 - 100px);
    -webkit-transition: padding 0.5s ease-in-out;
    -o-transition: padding 0.5s ease-in-out;
    -moz-transition: padding 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
  }
  .nav__links-container ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: auto;
    margin-left: auto;
  }
  .collapsed {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  #contact-btn {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  .header__titles {
    font-size: 1.5rem;
    top: 30vh;
    bottom: auto;
    padding: 1.5rem;
  }
  .header__icons {
    top: 60vh;
    bottom: auto;
    right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .header__icons a:nth-of-type(1) {
    margin-left: 80px;
  }
  .header-section::before {
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 35% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 35% 100%, 0% 100%);
    background-color: var(--primary-col);
    top: 0;
    height: 100%;
  }
  .header-section {
    background-image: url(../img/perfil-circle.png);
    background-position: 100% center;
    -webkit-background-size: unset unset;
    -moz-background-size: unset;
    -o-background-size: unset;
    background-size: unset;
  }
  .info-section {
    background: -webkit-linear-gradient(
      348.4deg,
      #617076 8.15%,
      #1d1d1d 111.83%,
      #1d1d1d 111.84%
    );
    background: -moz-linear-gradient(
      348.4deg,
      #617076 8.15%,
      #1d1d1d 111.83%,
      #1d1d1d 111.84%
    );
    background: -o-linear-gradient(
      348.4deg,
      #617076 8.15%,
      #1d1d1d 111.83%,
      #1d1d1d 111.84%
    );
    background: linear-gradient(
      101.6deg,
      #617076 8.15%,
      #1d1d1d 111.83%,
      #1d1d1d 111.84%
    );
  }
  .info-container {
    padding: 3rem 2em;
  }
  .info-container::before {
    background-position: right;
  }
  .info__text-container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1em;
    padding-left: 5rem;
  }
  .about-container,
  .skills-container {
    max-width: 800px;
  }
  .contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 3em;
  }
  .contact__data {
    max-width: 50%;
  }
  form {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .contact-container {
    max-width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .header__titles {
    padding-left: 5%;
  }
  .header-section {
    background-image: url(../img/perfil-circle-big.png);
    background-position: 85% center;
  }
  .about-container,
  .skills-container {
    max-width: 1000px;
  }
  .portfolio__container {
    max-width: 1200px;
  }
  .projects-container {
    -ms-grid-columns: 1fr 1em 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .projects__card {
    width: 500px;
  }
}
@media screen and (min-width: 1400px) {
  .header__titles {
    font-size: 2rem;
  }
  .projects__card {
    width: 600px;
  }
}
