:root {
    --primary-col: #a8dbcc;
    --stacks-bg-col: #82bcbd;
    --general-bg-col: #1a232b;
    --nav-bg-col: #0b0b0b;
    --alt-bg-col: #1a1a1a;
    --gray-col: #617076;
    --borders-col: #70af87;
    --text-col: #fff;
    --nav-margin-offset: calc(2rem + 55px);
    --font-general: 'Montserrat', sans-serif;
    --font-titles: 'Raleway', sans-serif;
    --font-paragraphs: 'Open Sans', sans-serif;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: var(--font-general);
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--text-col);
}

p {
    font-family: var(--font-paragraphs);
    font-weight: 400;
}

h2 {
    font-weight: 700;
}

.nav-bar {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-height: 87px;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 5000;
    transition: max-height .2s ease-in-out;
}

.nav__responsive-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: var(--nav-bg-col);
    z-index: 5000;
}

.nav__img-container {
    max-width: 80px;
    height: 55px;
    display: flex;
}

.nav__img-container img {
    width: 100%;
    object-fit: contain;
}

.logo.--hide {
    display: none;
}

/* ? BOTON BURGER */
 .nav-btn {
    color: var(--text-col);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.nav-btn__burger {
    width: 1.5rem;
    height: 3px;
    background: var(--text-col);
    border-radius: 25%;
    transition: all .5s ease-in-out;
}
  
.nav-btn__burger::before,
.nav-btn__burger::after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 3px;
  background: var(--text-col);
  border-radius: 25%;
  transition: all .5s ease-in-out;
}
.nav-btn__burger::before {
  transform: translateY(-10px);
}
.nav-btn__burger::after {
  transform: translateY(10px);
}

/* ! ANIMACION */
.nav-btn.clicked .nav-btn__burger {
    background: transparent;
}
.nav-btn.clicked .nav-btn__burger::before {
    transform: rotate(45deg);
}
.nav-btn.clicked .nav-btn__burger::after {
    transform: rotate(-45deg);
}
/* ! FIN ANIMACION */
/* ? FIN BOTON BURGER */

.nav__links-container {
    position: absolute;
    left: 0;
    top: calc(2rem + 55px);
    /* padding: 1em 0; */
    width: 100%;
    background-color: #0b0b0bcc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2em; */
    transition: transform .85s ease-in-out;    
    z-index: 100;
}

.nav__links-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav__links-container ul li a {
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#contact-btn {
    background-color: var(--borders-col);
    color: var(--general-bg-col);
}

.collapsed {
    transform: translateY(-300px);
}

.header-section {
    padding-top: var(--nav-margin-offset);
    background-color: var(--general-bg-col);
    height: 100vh;
    position: relative;
    background-image: url(../img/perfil.png);
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center var(--nav-margin-offset);
}

.header-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgba(168, 219, 204, 0.56);
    clip-path: polygon(-100% 100%, 100% 0%, 100% 100%);
}

.header__titles {
    position: absolute;
    bottom: 0;
    font-size: 4vw;
    padding: 1.5rem;
    padding-left: 2em;
    font-family: var(--font-titles);
}

.header__titles h3, h1 {
    font-weight: 700;
}

.header__titles h4 {
    text-align: center;
    font-weight: 800;
}

.header__icons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1rem 5vw;
}

.header__icons a img{
    background-color: var(--general-bg-col);
    padding: .5em;
    border-radius: 5px;
}

/* ?INFO SECTION*/
.info-section {
    /* !GRADIENTE PARA DESKTOP
    background: linear-gradient(101.6deg, #617076 8.15%, #1D1D1D 111.83%, #1D1D1D 111.84%);  */
    background: radial-gradient(50% 50% at 50% 50%, rgba(97, 112, 118, 0) 0%, rgba(29, 29, 29, 0.16) 100%), #1d1d1d;
}

.info-container {
    position: relative;
    margin: auto;
    padding: 4rem 2rem;
    color: var(--text-col);       
    max-width: 1300px;
}

.info-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Logo\ ITB.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: .6;
    z-index: 5;
}

.info__text-container {
    position: inherit;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    max-width: 1000px;    
    line-height: 1.5;
    z-index: 10;
}

.info__text-container h2 {
    font-weight: 700;
}

.btn-borderless {
    border: 2px solid var(--text-col);
    background-color: transparent;
    padding: .5em 1em;
    border-top: 0;
    border-bottom: 0;
    transition: all .5s ease-in-out;
    letter-spacing: 2px;
}

.btn-borderless:hover {
    background-color: rgb(185, 185, 185);
    --text-col: rgb(185, 185, 185);
    color: #0b0b0b;
}

.personal-section {
    padding: 4rem 2rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(92, 92, 92, 0) 0%, rgba(24, 33, 40, 0.16) 100%), #1A232B;
    color: var(--text-col);
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;
}

.about-container {
    text-align: justify;
    line-height: 1.5;
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    margin: auto;
    max-width: 540px;
}

.personal__title {
    text-align: center;
    border: 2px solid var(--borders-col);
    margin: auto;
    padding: .5rem 3rem;
    letter-spacing: .3em;
    color: var(--text-col);
}

.skills-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
    margin: auto;
    max-width: 320px;
}

.tech-container, .lang-container {
    background-color: var(--stacks-bg-col);
    border-radius: 10px;
    margin: auto;   
    margin-top: 1em;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    place-items: center;
    text-align: center;
    grid-gap: 2em 1em;
}


.tech__element > h4, .lang-element > h4 {
    padding-top: .5em;
    color: var(--general-bg-col);
    font-weight: 400;
    font-size: 1.2rem;
}

/* ?PORTFOLIO */

.portfolio-section {
    padding: 4rem 2rem;
    background-color: var(--alt-bg-col);
}

.portfolio__container {
    display: flex;
    margin: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 3.5em;
}

.projects-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;    
    grid-gap: 1em;
}

.projects__card {
    background-color: transparent;    
    width: 300px;
    height: 450px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;    
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
}

.projects__card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-flow: column nowrap;
}

.card-front img, .card-back img {
    max-width: 100%;
}

.card-front .card-back__texts {
    background-color: var(--borders-col);
    padding: 2.5em 0;
    height: 100%;
}

.card-back {
    background-color: var(--borders-col);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
    gap: 1em;
    transform: rotateY(180deg);
}

.card-back img {
    border-radius: 15px;
}

.card-back__texts {
    text-align: center;
    color: var(--text-col);
}

.card-back__texts h2 {
    font-family: var(--font-titles);
    font-weight: 800;
    padding-bottom: .5em;
}

.card-back__buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: .5em;
    text-align: center;
}

.card-back__buttons a {
    text-decoration: none;
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background-color: var(--general-bg-col);
    font-family: var(--font-paragraphs);
}

.card-back__buttons a:hover {
    transform: scale(1.05);
    --general-bg-col: hsl(208, 25%, 20%);
}

/* ? CONTACTO */
.contact-section {
    background: radial-gradient(50% 50% at 50% 50%, rgba(92, 92, 92, 0) 0%, rgba(24, 33, 40, 0.16) 100%), #1C2C35;
    color: var(--text-col);
}

.contact-wrapper {
    padding: 4rem;
    display: flex;
    margin: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 3.5em;
    max-width: 1200px;
}

.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    text-align: center;
}

.contact__data {
    display: flex;
    flex-direction: column;
    gap: 2em;
    letter-spacing: 1px;
}

.contact__data-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    column-gap: 1.5em;
    place-items: center;
}

.contact__data-links a {
    display: flex;
    gap: .5em;
    align-items: center;
    font-family: var(--font-paragraphs);
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

form input, form textarea {
    background: transparent;
    color: var(--text-col);
    padding: .5em;
    border: none;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

form input:focus, form textarea:focus {
    outline: none;
    border-left: 2px solid var(--borders-col);
    border-bottom: 2px solid var(--borders-col);
}

form textarea {
    resize: none;
}

form textarea::placeholder {
    font-size: 1rem;
    color: #8B8B8B;
}

.form__btn-container {
    padding-top: 1em;
}

.send-btn {
    background-color: transparent;
    border: 2px solid var(--borders-col);
    border-top: 0;
    border-bottom: 0;
    padding: .7em 3.5em;
    color: var(--borders-col);
    letter-spacing: 3px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-weight: 600;
}

.send-btn:hover {
    background-color: var(--borders-col);
    color: #0b0b0b;
}

footer {
    background-color: var(--alt-bg-col);
    padding: 1em 0;
    text-align: center;
    color: var(--text-col);
}

@media (min-width: 576px) {
    .header-section {
        background-size: contain;
        background-position: right var(--nav-margin-offset);
    }
    
    .header__titles {
        font-size: 3.5vw;
        padding-left: 3.5em;
    }
    
    .info__text-container {
        padding: 0 3em;
    }
    
    .tech-container {
        max-width: 1000px;
    }
    
    .lang-container {
        max-width: 500px;
    }
    
    .skills-container {
        max-width: 400px;
    }

    .projects__card {
        width: 500px;
        height: 600px;
    }

    .card-back {
        gap: 2em;
    }

    .card-back__texts {
        line-height: 1.5;
    }
    .card-back__buttons {
        gap: 1.5em;
    }
}

@media (min-width: 768px) { 
    .header-section::before {
        clip-path: polygon(-200% 100%, 100% 0%, 100% 100%);
    }

    .header__titles {
        font-size: 3vw;
        padding-bottom: 1.5em;
    }

    .tech-container, .lang-container {
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    }

    .about-container, .skills-container {
        max-width: 600px;
    }

    .projects__card {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .nav-bar {
        flex-flow: row nowrap;
        align-items: center;
    }

    .nav--scrolled {
        max-height: 66px;
        background-color: var(--nav-bg-col);
    }

    .nav-bar.nav--scrolled .nav__links-container {
        padding: 1rem;
    }

    .nav__responsive-container {
        background-color: transparent;
    }

    .nav-btn {
        display: none;
    }

    .nav__links-container {
        position: static;
        flex-direction: row;
        background-color: transparent;
        padding: 1rem;
        margin-left: auto;
        padding-right: calc(50% / 4 - 100px);
        transition: padding .5s ease-in-out;
    }

    .nav__links-container ul {
        flex-direction: row;
        width: auto;
        margin-left: auto;
    }

    .collapsed {
        transform: translateY(0);
    }

    #contact-btn {
        border-radius: 30px;
    }

    .header__titles {
        font-size: 1.5rem;
        top: 30vh;
        bottom: auto;
        padding: 1.5rem;
    }
    
    .header__icons {
        top: 60vh;
        bottom: auto;
        right: auto;
        flex-direction: row;
    }
    
    .header__icons a:nth-of-type(1) {
        margin-left: 80px;
    }

    /* TILT EFFECT */
    .header-section::before {
        clip-path: polygon(0% 0%, 50% 0%, 35% 100%, 0% 100%);
        background-color: var(--primary-col);
        top: 0;
        height: 100%;
    }
    
    /* IMAGEN DE PERFIL */
    .header-section {
        background-image: url(../img/perfil-circle.png);
        background-position: 100% center;
        background-size: unset;
    }

    /* ?info */
    .info-section {
        background: linear-gradient(101.6deg, #617076 8.15%, #1D1D1D 111.83%, #1D1D1D 111.84%);
    }
    .info-container {
        padding: 3rem 2em;
    }
    .info-container::before {
        background-position: right;
    }

    .info__text-container {        
        align-items: flex-start;
        gap: 1em;
        padding-left: 5rem;
    }

    .about-container, .skills-container {
        max-width: 800px;
    }
    /* ?CONTACTO */
    .contact-container {
        flex-direction: row;
        gap: 3em;
    }

    .contact__data {
        max-width: 50%;
    }

    form {
        width: 50%;
    }
}

@media (min-width: 1200px) { 
    .header__titles {
        padding-left: 5%;
    }

    .header-section {
        background-image: url(../img/perfil-circle-big.png);
        background-position: 85% center;
    }

    .about-container, .skills-container {
        max-width: 1000px;
    }

    .portfolio__container {
        max-width: 1200px;
    }

    .projects-container {
        grid-template-columns: 1fr 1fr;
    }

    .projects__card {
        width: 500px;
    }
}

@media (min-width: 1400px) { 
    .header__titles {
        font-size: 2rem;
    }

    .projects__card {
        width: 600px;
    }
 }